<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/criar.css">
    <link rel="stylesheet" href="/static/css/menu-lateral.css">
    <script src="/static/js/carrega/menu.js" defer></script>
    <script src="/static/js/cadastra-usuario.js" defer></script>
    <title>Cadastra usuáiro</title>
</head>
<body>

    <!-- carrega -->
    <div id="menu-lateral"></div>

    <div id="conteudo-lateral">
        <div class="conteudo-interno">
            <h1>Cadastrar usuário</h1>
            <form>
                <div class="campo-formulario">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" placeholder="Digite seu nome com mais de 10 caracteres">
                </div>

                <div class="campo-formulario">
                    <label for="email">Data:</label>
                    <input type="text" id="email" name="email" placeholder="teste@teste.com">
                </div>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

</body>
</html>