<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/criar.css">
    <link rel="stylesheet" href="/static/css/menu-lateral.css">
    <script src="/static/js/carrega/menu.js" defer></script>
    <script src="/static/js/cadastra-projeto.js" defer></script>
    <title>Projetos</title>
</head>
<body>

    <!-- carrega -->
    <div id="menu-lateral"></div>

    <div id="conteudo-lateral">
        <div class="conteudo-interno">
            <h1>Cadastrar projeto</h1>
            <form>
                <div class="campo-formulario">
                    <label for="projetoId">Nome:</label>
                    <input type="text" id="projetoId" name="projetoId" placeholder="Digite o nome do projeto">
                </div>

                <div class="campo-formulario">
                    <label for="usuarioId">Data:</label>
                    <input type="text" id="usuarioId" name="usuarioId" placeholder="">
                </div>

                <div class="campo-formulario">
                    <label for="texto">Descrição do projeto:</label>
                    <textarea id="texto" name="texto" placeholder="Digite a descrição do hitorico" maxlength="4000" rows="10"></textarea>
                </div>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

</body>
</html>