<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/menu.css}">

    <script th:src="@{js/carrega/menu.js}" defer></script>
    <script th:src="@{js/index-botao.js}" defer></script>
    <title>Projetos</title>
</head>
<body>

    <!-- menu -->
    <div th:replace="~{fragments/menu :: menu}"></div>

    <!-- Conteúdo principal -->
    <div id="conteudo-principal">
        <!-- Área de boas-vindas -->
        <div id="cabecalho">
            <h1>Bem-vindo!</h1>
            <h4>Essa é a página inicial.</h4>
        </div>

        <!-- Área de botões -->
        <!-- rodando no javascript -->
        <div id="area-botoes">
        </div>
    </div>

</body>
</html>