<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/menu-lateral.css">
        <script src="/static/js/index-botao.js" defer></script>
        <script src="/static/js/carrega/menu.js" defer></script>
        <title>Projetos</title>
    </head>
    <body>

        <!-- carrega -->
        <div id="menu-lateral"></div>

        <!-- Conteúdo principal -->
        <div id="conteudo-principal">
            <!-- Área de boas-vindas -->
            <div id="cabecalho">
                <h1>Bem-vindo!</h1>
                <h4>Essa é a página inicial.</h4>
            </div>

            <!-- Área de botões -->
            <!-- rodando no javascript -->
            <div id="area-botoes">
            </div>
        </div>

    </body>
</html>