<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/menu.css}">

    <script th:src="@{js/carrega/menu.js}" defer></script>
    <script th:src="@{js/index-botao.js}" defer></script>
    <title>Projetos</title>
</head>
<body>

    <!-- menu -->
    <div th:replace="~{fragments/menu :: menu}"></div>

    <!-- Conteúdo principal -->
    <div id="conteudo-principal">
        <!-- Área de boas-vindas -->
        <div id="cabecalho">
            <h1>Bem-vindo!</h1>
            <br>
            <p >Meu projeto ainda está em desenvolvimento, mas já é possível acompanhar o progresso e as melhorias que venho implementando.<br>
                Convido você a visitar meu GitHub e conhecer um pouco do meu trabalho
                <a href="https://github.com/brunoffraga/Sistema_De_Projetos_Governamentais" target="_blank" rel="noopener noreferrer" style="color: white;">GitHub</a>.
            </p>
        </div>

        <!-- Área de botões -->
        <!-- rodando no javascript -->
        <div id="area-botoes">
        </div>
    </div>

</body>
</html>