<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/criar.css">
    <link rel="stylesheet" href="/static/css/menu-lateral.css">
    <link rel="stylesheet" href="/static/css/lista-projeto.css">
    <script src="/static/js/carrega/menu.js" defer></script>
    <script src="/static/js/listar-projeto.js" defer></script>
    <title>Projetos</title>
</head>
<body>

<div id="menu-lateral"></div>

<div id="conteudo-lateral">
    <div class="conteudo-interno">
        <h1>Listar projetos</h1>
        <hr><br>
        <div id="projeto-lista">
            <!-- Os projetos serão inseridos aqui pelo JS -->
        </div>
    </div>
</div>

</body>
</html>