<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Menu com Tooltip</title>
    <style>
    </style>
</head>
<body>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Cadastrar projeto</a></li>
        <li><a href="#">Cadastrar usuário</a></li>
        <li class="has-tooltip"><a href="#">Usuário</a>
            <div class="tooltip">
                <a href="#">Ativar</a>
                <a href="#">Desativar</a>
            </div>
        </li>
        <li class="has-tooltip"><a href="#">Projeto</a>
            <div class="tooltip">
                <a href="#">Ativar</a>
                <a href="#">Desativar</a>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>
