<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/button.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/comentario-hitorico.css">
    <script src="/static/js/carrega/menu.js" defer></script>
    <script src="/static/js/projeto/texto-area-escrita.js" defer></script>
    <title>Cadastra projetos</title>

</head>
<body>

    <!-- carrega -->
    <div id="menu-lateral"></div>
    <div id="conteudo">
        <!-- COLUNA ÚNICA: COMENTÁRIOS -->
        <section class="coluna">
            <div class="bloco">
                <h2>Historico</h2>
                <div class="comentarios">
                    <div class="mensagem">
                        <strong>Maria:</strong> Muito bom o projeto!
                    </div>
                    <div class="mensagem">
                        <strong>João:</strong> Concordo com as melhorias.
                    </div>
                </div>
                <div class="input-area">
                    <input type="text" placeholder="Escreva um comentário..."  rows="1"/>
                    <button class="btn-enviar">➤</button>
                </div>
            </div>
        </section>
    </div>
</body>
</html>